* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.work-item {
  background-color: rgb(252, 252, 252);
  border-radius: 8px;
  border-color: #cccccc;
  border: 1px solid #cccccc;
  display: inline-block;
  vertical-align: middle;
  justify-items: space-between;
  width: 400px;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.work-item:hover {
  background-color: #ffffff;
  border-color: #000000;
  box-shadow: #cccccc 0px 0px 10px 0px;
  transition: border-color 0.3s;
}
.work-item img {
  width: 380px;
  height: 210px;
  border-radius: 10px;
  object-fit: cover;
}
.work-item h4 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 5px 0;
  color: #000000;
}
.work-item h5 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 5px 0;
  color: #000000;
}
.work-item p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 5px 0;
  color: #000000;
}
.work-item button {
  width: 300px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 10px 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}
.work-item button:hover {
  color: black;
  background-color: #ffffff;
  transition: background-color 0.3s;
}
.image-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.image-group img {
  width: 180px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
